<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Solus UX Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <!-- build:css css/app.css -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/font-awesome.css">
    <link rel="stylesheet" href="./css/enjoyhint.css">
    <link rel="stylesheet" href="./css/swiper.css">
    <link rel="stylesheet" href="./css/site.css">
    <!-- endbuild -->
    <!-- build:js js/lib.js -->
    <script type="text/javascript" src="./assets/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./js/enjoyhint.js"></script>
    <script type="text/javascript" src="./js/sweetalert.js"></script>
    <script type="text/javascript" src="./js/swiper.js"></script>
    <script type="text/javascript" src="./js/gc-html5.js"></script>
    <!-- endbuild -->
    <!-- build:js js/app.js -->
    <script type="text/javascript" src="./js/config.js"></script>
    <script type="text/javascript" src="./js/helper.js"></script>
    <script type="text/javascript" src="./js/demo.js"></script>
    <!-- endbuild -->
</head>

<body>
    
</body>

</html>